{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post.com</title>
    <link rel="stylesheet" href="{% static 'css/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style/bootstrap.css' %}">


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="{%url 'home'%}">POST.COM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcontent"
                aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarcontent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="http://localhost:9000/Author/">Author</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:9000/Category/">Category</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mycontiner">
        {%block navcont %}
        {% endblock %}
    </div>

</body>

</html>