{%extends 'base.html'%}

{%block navcont %}

<header class="myheader">
    <div class="myleft"></div>
    <div class="myright">
        <h2 class="mywelcome h1 text-white">welcome</h2>
        <p class="mypara text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque numquam
            labore fugiat
            magni quis atque amet totam sed perspiciatis explicabo deserunt, reprehenderit assumenda libero
            error tempore laborum? Porro, vero hic?</p>
        <button class="mybtn"><a class="nav-link" href="{%url 'home'%}">Post</a></button>
    </div>
</header>
{% endblock %}